/* Global styles */
html,
body {
	margin: 0;
	padding: 0;
}

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #fff7ed;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

header {
	display: flex;
	align-items: center;
	height: 110px;
	background: #fff7ed;
	padding-block: 10px;
}

header a {
	text-decoration: none;
	color: #4d4d4d;
	font-weight: 600;
	padding: 5px 20px;
}
header a:hover {
	text-decoration: underline;
	color: #161616;
}

header .site-logo {
	color: #000;
	margin-right: auto;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 900;
}

/*** Link Button ***/

.link-button {
	text-decoration: none;
	border: none;
	padding: 0.75rem 1.375rem;
	color: initial;
	font-weight: 700;
	border-radius: 5px;
	cursor: pointer;
	transition: transform 0.1s ease-in-out;
}

.link-button:hover {
	transform: translate(1px, 1px);
}

/*** HOME PAGE ***/
.home-container {
	background: linear-gradient(
			0deg,
			rgba(0, 0, 0, 0.46) 0%,
			rgba(0, 0, 0, 0.46) 100%
		),
		url("./assets/home-hero.png"), no-repeat center center;
	background-size: cover;
	min-height: 350px;
	color: white;
	padding: 45px 23px;
}

.home-container h1 {
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 42px;
}

.home-container p {
	line-height: 24px;
}

.home-container a {
	display: inline-block;
	background-color: #ff8c38;
	width: 50%;
	margin-top: 27px;
	padding-block: 0.75rem;
	color: white;
}

/*** ABOUT PAGE ***/

.about-hero-image {
	max-width: 100%;
}

.about-page-content {
	padding-inline: 23px;
	color: #161616;
	margin-bottom: 55px;
}

.about-page-content h1 {
	line-height: 38px;
}

.about-page-content p {
	line-height: 22px;
}

.about-page-cta {
	background-color: #ffcc8d;
	color: #161616;
	padding-bottom: 32px;
	margin-inline: 27px;
}

.about-page-cta h2 {
	margin: 0;
	padding-block: 37px;
}

.about-page-cta .link-button {
	background-color: #161616;
	color: white;
	border-radius: 10px;
}
